<a href="https://colab.research.google.com/github/hyunjung930/CodingTest_Practice/blob/hyunjung/Python_%EC%BD%94%ED%85%8C1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. **자료형**

In [ ]:
 a = 777
 print(a)

777

In [ ]:
a = a + 5
print(a)

782

In [ ]:
a = a +3
print(a)

785

In [ ]:
# 리스트 안 반복문
a = [i for i in range(10)]

print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 0~19까지의 수수 중에서서 홀수만만 포함하는는 리스트트
array = [i for i in range(20) if i % 2 ==1]
print(array)
# 1~9까지의의 수들이 제곱 값을을 포함하는는 리스트
array1 = [i*i for i in range(1,10)]
print(array1)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
# 리스트 컴프리헨션과 일반적인 코드 비교하기(0부터 19까지의 수 중에서 홀수만 포함하는 리스트)

# 1. 리스트 컴프리헨션
array = [i for i in range(20) if i % 2 == 1]
print(array)

# 2. 일반적인 코드
array = []
for i in range(20):
   if i % 2 == 1:
     array.append(i)
print(array)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [5]:
# n*m크기의 2차원 리스트 초기화(옳은 예시)
n = 4
m = 3
array = [[0] * m for _ in range(n) ]
print(array)

# 잘못된 예시 - list 값의 원소를 바꿔준다면 값이 다 다르게 나온다..
n = 4
m = 3
array = [[0] * m] * n
print(array)

array[1][1] = 5
print(array)

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]
[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]
[[0, 5, 0], [0, 5, 0], [0, 5, 0], [0, 5, 0]]

# **2. 문자열 자료형**

In [6]:
data = 'Hello world'
print(data)
data = "Don't you know \"Python\"?"
print(data)

Hello world
Don't you know "Python"?

In [7]:
#문자열 연산
a = "Hello"
b = "World"
print(a + "" + b)

a = "String"
print(a * 3)

a = "ABCDFE"
print(a[2:4])

HelloWorld
StringStringString
CD

# 2-1 **튜플 자료형 **

In [8]:
a = (1,2,3,4,5,6,7,8,9)
#네 번째 원소만 출력
print(a[3])
#두 번째 원소부터 네 번째 원소까지
print(a[1:4])

4
(2, 3, 4)

In [ ]:
#오류 발생 예제
a = (1,2,3,4)
print(a)
a[2] = 7

# ***2-2 사전자료형***

In [10]:
data = dict()
data['사과'] = 'Apple'
data['바나나'] = 'Banana'
data['코코넛'] = 'Coconut'
print(data)

if '사과'in data:
  print("'사과'를 키로 가지는 데이터가 존재합니다")

{'사과': 'Apple', '바나나': 'Banana', '코코넛': 'Coconut'}
'사과'를 키로 가지는 데이터가 존재합니다

In [12]:
data = dict()
data['사과'] = 'Apple'
data['바나나'] = 'Banana'
data['코코넛'] = 'Coconut'
print(data)

# 키 데이터만 담은 리스트
key_list = data.keys()
# 값 데이터만 담은 리스트
value_list = data.values()
print(key_list)
print(value_list)

#각 키에 따른 값을 하나씩 출력
for key in key_list:
  print(data[key])

{'사과': 'Apple', '바나나': 'Banana', '코코넛': 'Coconut'}
dict_keys(['사과', '바나나', '코코넛'])
dict_values(['Apple', 'Banana', 'Coconut'])
Apple
Banana
Coconut

In [13]:
a = dict()
a['홍길동'] = 97
a['제갈길동'] = 98
print(a)

b = {
     '홍길동' : 97,
     '제갈길동' : 98
}
print(b)
print(b['제갈길동'])

key_list = list(b.keys())
print(key_list)

{'홍길동': 97, '제갈길동': 98}
{'홍길동': 97, '제갈길동': 98}
98
['홍길동', '제갈길동']

# ***2-3집합자료형***

In [14]:
# 집합 자료형 초기화 방법1
data = set([1,1,2,3,4,4,5])
print(data)
# 집합 자료형 초기화 방법2
data = {1,1,2,3,4,4,5}
print(data)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [15]:
#집합 자료형의 연산
a = set([1,2,3,4,5])
b = set([3,4,5,6,7])
#합집합
print(a|b)
#교집합
print(a&b)
#차집합
print(a-b)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}

In [16]:
#집합자료형 관련 함수
data = set([1,2,3])
print(data)

#새로운 원소 추가
data.add(4)
print(data)
#새로운 원소 여러개 추가
data.update([5,6])
print(data)
#특정한 값을 갖는 원소 삭제
data.remove(3)
print(data)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}

# ***기본 입출력***

In [18]:
# 데이터의 개수 입력
n = int(input())
# 각 데이터를 공백을 기준으로 구분하여 입력
data = list(map(int, input().split()))

data.sort(reverse=True)
print(data)

5
65 90 75 34 99
[99, 90, 75, 65, 34]

# ***빠르게 입력 받기***

In [19]:
import sys
#문자열 입력 받기
data = sys.stdin.readline().rstrip()
print(data)

In [21]:
#출력을 위한 전형적인 소스코드
#출력할 변수들
a = 1
b = 2
print(a,b)
print(7, end=" ")
print(8, end=" ")

#출력할 변수
answer = 7
print("정답은 " + str(answer) + "입니다.")

1 2
7 8 정답은 7입니다.

# ***조건문과 반복문***

In [22]:
x = 15
if x >= 10:
  print("x >= 10")
if x >= 0:
  print("x >= 0")
if x >= 30:
  print("x >= 30")

x >= 10
x >= 0

In [24]:
a = -5

if a >= 0:
  print("a >= 0")
elif a >= -10:
  print("0 > a >= -10")
else:
  print("-10 > a")

0 > a >= -10

In [25]:
score = 85
if score >= 90:
  print("학점: A")
elif score >= 80:
  print("학점: B")
elif score >= 70:
  print("학점: C")
else:
  print("학점: F")

학점: B

In [27]:
#논리연산자
if True or False: #트루가 있음
  print("Yes")

a = 15

if a <= 20 and a >= 0:
  print("Yes")

Yes
Yes

In [29]:
#pass
a = 50
if a >= 30:
  pass
else:
  print("a < 30")

# ***반복문***

In [32]:
#1부터 9까지 모든 정수의 합 구하기 예제(while문)
i = 1
result = 0
while i <= 9:
  result += i
  i +=1

print(result)

45

In [33]:
#1부터 9까지의 홀수 합 구하기
i = 1
result = 0
while i <= 9:
  if i % 2 == 1:
    result += i
  i += 1

print(result)

25

In [34]:
#for문
array = [9,8,7,6,5]

for x in array:
  print(x)

9
8
7
6
5

In [35]:
result = 0
for i in range(1,30):
  result += i

print(result)

435

In [36]:
#Continue: 다음 반복을 진행하고자 할 때 사용
# 1부터 9까지의 홀수의 합을 구할 때
result = 0
for i in range(1,10):
  if i %2 == 0:
    continue
  result += i

print(result)

20

In [37]:
# break: 반복문을 즉시 탈출하고자 할 때 사용
# 1부터 5까지 정수 출력
i = 1
while True:
  print("현재 i의 값: ", i)
  if i == 5:
    break
  i += 1

현재 i의 값:  1
현재 i의 값:  2
현재 i의 값:  3
현재 i의 값:  4
현재 i의 값:  5

In [38]:
#학생들의 합격 여부 판단 점수가 80점만 넘으면 합격
scores = [90,85,77,54, 66,97]
for i in range(5):
  if scores[i] >=80:
    print(i + 1, "번 학생은 합격입니다")

1 번 학생은 합격입니다
2 번 학생은 합격입니다

In [41]:
# 특정 번호 학생은 제외하기
scores = [90,85,77,65,97]
cheating_student_list = {2,4}

for i in range(5):
  if i + i in cheating_student_list:
    continue
  if scores[i] >= 80:
    print(i + 1, "번 학생은 합격입니다.")

1 번 학생은 합격입니다.
5 번 학생은 합격입니다.

In [42]:
# 중첩된 반복문: 구구단 예제
for i in range(2,10):
  for j in range(1, 10):
    print(i, "X", j, "=", i*j)
  print()

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

# ***함수와 람다식***

In [45]:
# 더하기 함수
def add(a,b):
  return a+ b

print(add(3,7))
# 2th.
def add(a,b):
  print("함수의 결과 : ",a + b)

add(3,7)

10
함수의 결과 :  10

In [49]:
#global : 함수 바깥에 선언된 변수를 가져와서 쓴다...
a = 10
def func():
  global a
  a += 1
  print(a)
func()

#list는 global을 쓰지 않아도 알아서 불러온다.
# 함수가 선언된 변수는 더 우선순위로 불러옴
array = [1,2,3,4,5]
def func2():
  array = [3,4,5]
  array.append(6)
  print(array)

func()
print(array)

11
12
[1, 2, 3, 4, 5]

In [50]:
#여러 개의 반환 값
def operator(a,b):
  add_var = a + b
  subtract_var = a - b
  multiply_var = a * b
  divide_var = a / b
  return add_var, subtract_var, multiply_var, divide_var

a,b,c,d = operator(7,3)
print(a,b,c,d)

10 4 21 2.3333333333333335

# ***람다표현식***

In [53]:
array =[('홍길동', 50),('제갈길동', 32),('탁길동', 74)]
def my_key(x):
  return x[1]
  
print(sorted(array, key = my_key))
print(sorted(array, key = lambda x : x[1]))

[('제갈길동', 32), ('홍길동', 50), ('탁길동', 74)]
[('제갈길동', 32), ('홍길동', 50), ('탁길동', 74)]

In [55]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]
result = map(lambda a, b: a+b, list1, list2)
print(list(result))

[7, 9, 11, 13, 15]

# ***자주 사용되는 내장 함수***

In [56]:
#eval(): 수식으로 계산된건 그대로 출력
result = eval("(3+5)*7")
print(result)

56

In [59]:
#sorted()
result = sorted([9,1,8,5,4])
reverse_result = sorted([9,1,8,5,4], reverse = True)
print(result)
print(reverse_result)

#sorted() with key
array = [('홍길동', 50),('제갈길동', 32),('탁길동', 74)]
result = sorted(array, key = lambda x : x[1], reverse = True)
print(result)

[1, 4, 5, 8, 9]
[9, 8, 5, 4, 1]
[('탁길동', 74), ('홍길동', 50), ('제갈길동', 32)]

# ***실전에서 사용되는 표준 라이브러리***

In [60]:
# 순열: 서로 다른 n개에서 서로 다른 r개를 선택해 일렬로 나열하는 것
from itertools import permutations

data = ['A','B', 'C']   # 데이터 준비

result = list(permutations(data, 3))   # 모든 순열 구하기
print(result)

[('A', 'B', 'C'), ('A', 'C', 'B'), ('B', 'A', 'C'), ('B', 'C', 'A'), ('C', 'A', 'B'), ('C', 'B', 'A')]

In [61]:
# 조합: 서로 다른 n개에서 순서에 상관 없이 서로 다른 r개를 선택하는 것
from itertools import combinations

data = ['A','B', 'C']   # 데이터 준비

result = list(combinations(data, 2))   # 모든 순열 구하기
print(result)

[('A', 'B'), ('A', 'C'), ('B', 'C')]

In [63]:
# 중복 순열과 중복 조합
from itertools import product

data = ['A', 'B', 'C']
result = list(product(data, repeat = 2)) #2개를 뽑는 모든 순열 구하기(중복허용)
print(result)

from itertools import combinations_with_replacement

data = ['A', 'B', 'C']
result = list(combinations_with_replacement(data, 2)) #2개를 뽑는 모든 순열 구하기(중복허용)
print(result)

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'A'), ('B', 'B'), ('B', 'C'), ('C', 'A'), ('C', 'B'), ('C', 'C')]
[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'B'), ('B', 'C'), ('C', 'C')]

In [65]:
#counter
from collections import Counter
counter = Counter(['red','blue','red','green','blue','blue'])

print(counter['blue']) # 'blue'가 등장한 횟수 출력
print(counter['green']) # 'green'이 등장한 횟수 출력
print(dict(counter))  #사전 자료형으로 반환

In [66]:
import math

#최소 공배수(LCM)를 구하는 함수
def lcm(a,b):
  return a*b//math.gcd(a,b)

a = 21
b = 14

print(math.gcd(21,14)) # 최대 공약수(GCD) 계산
print(lcm(21, 14)) # 최소 공배수(LCM) 계산

7
42